<form id="signup-form" class="signup-form">
	<label for="name" class="form-label">Name:</label>
	<input type="text" id="name" name="name" class="form-input" required />

	<label for="lastName" class="form-label">Last Name:</label>
	<input type="text" id="lastName" name="lastName" class="form-input" required />

	<label for="age" class="form-label">Age:</label>
	<input type="number" id="age" name="age" class="form-input" required />

	<label for="email" class="form-label">Email:</label>
	<input type="email" id="email" name="email" class="form-input" required />

	<label for="password" class="form-label">Password:</label>
	<input type="password" id="password" name="password" class="form-input" required />

	<button class="form-button">Sign Up</button>
</form>
<script src="/js/signup.js"></script>